@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;500;600;700&display=swap");
@font-face {
  font-family: "akira";
  src: url("/fonts/akira_expanded_demo-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
html {
  font-size: 16px;
  font-family: "Raleway", sans-serif;
}

li,
a {
  list-style: none;
  text-decoration: none;
  color: black;
}

.h1-akira {
  font-family: "akira";
  font-size: 2rem;
  line-height: 0.8;
  font-size: clamp(2rem, 6.5vw + 1rem, 7.5rem);
}

.h2-akira {
  font-family: "akira";
  font-size: 2.5rem;
}

h1 {
  font-size: 3rem;
  font-weight: 800;
}

h2 {
  font-size: 2rem;
  font-weight: 800;
}

h3 {
  font-size: 1.5rem;
  font-weight: 800;
}

p {
  color: #7e7e7e;
  font-size: 1.1rem;
  line-height: 1.7;
  font-weight: 300;
}

.btn-hollow {
  text-transform: capitalize;
  font-weight: 300;
  letter-spacing: 0.05rem;
  padding: 10px 25px;
  border-radius: 5px;
  background-color: transparent;
  border: 1px solid #141414;
  color: #141414;
  transition: all 0.3s cubic-bezier(0.16, 1, 0.3, 1);
}
.btn-hollow:hover {
  background-color: #141414;
  color: white;
  cursor: pointer;
  transform: scale(1.1);
  font-weight: 500;
}

.text-group {
  text-align: center;
}
.text-group h1,
.text-group h2,
.text-group h3,
.text-group h4 {
  margin-bottom: 1.5rem;
}

.text-btn-group h1,
.text-btn-group h2,
.text-btn-group h3,
.text-btn-group h4 {
  margin-bottom: 1.5rem;
}
.text-btn-group p {
  margin-bottom: 3rem;
}

.container {
  width: 85%;
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
}
@media (max-width: 320px) {
  .container {
    width: 90%;
  }
}

nav {
  z-index: 1000;
  position: absolute;
  width: 100%;
}
nav .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding-top: 20px;
}
@media (min-width: 481px) {
  nav .navbar {
    padding-top: 40px;
  }
}
nav .logo {
  width: 2.6rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
nav .hamburger {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 25px;
  height: 16px;
}
nav .hamburger:hover {
  cursor: pointer;
}
nav .hamburger div {
  height: 21%;
  width: 100%;
  background: rgb(186, 186, 186);
}
nav .btn-box {
  position: relative;
  width: 100px;
  border-radius: 40px;
  height: 40px;
  transition: all 0.3s cubic-bezier(0.16, 1, 0.3, 1);
}
nav .btn-box:hover {
  background: #141414;
  cursor: pointer;
}
@media (max-width: 481px) {
  nav .btn-box {
    background: none;
  }
}

.footer-wrap {
  background: #141414;
}

footer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 100px;
  padding-top: 80px;
  color: #f5f5f5;
}
footer .next {
  color: #f5f5f5;
  font-size: 2rem;
  right: 0;
  transition: all 0.3s cubic-bezier(0.16, 1, 0.3, 1);
  margin-bottom: 70px;
}
footer .next:hover {
  transform: scale(1.05);
  transform-origin: 50% 100%;
  color: #929aef;
}
@media (min-width: 481px) {
  footer .next {
    font-size: 3rem;
  }
}
@media (min-width: 769px) {
  footer .next {
    font-size: 4rem;
  }
}
footer .flex-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer .flex-container .logo {
  transform: scale(1.5);
  margin-bottom: 70px;
}
footer .flex-container .logo path {
  fill: none;
  stroke: #c4c4c4;
  stroke-width: 0.5px;
}
footer .flex-container .logo:hover svg {
  transition: all 0.3s cubic-bezier(0.16, 1, 0.3, 1);
  transform: scale(1.2);
}
footer .flex-container .logo:hover svg path {
  fill: #f5f5f5;
  stroke-width: 0px;
}
footer .flex-container .text {
  margin-bottom: 70px;
  text-align: center;
  height: 45px;
}
footer .flex-container strong {
  display: block;
}
footer .flex-container span {
  font-weight: 200;
  font-size: 14px;
}
footer .flex-container .socials a:not(:last-child) svg {
  margin-right: 15px;
}
footer .flex-container .socials svg {
  width: 25px;
  height: 25px;
}
footer .flex-container .socials svg path {
  fill: #f5f5f5;
}
footer .flex-container .socials a:hover svg {
  transition: all 0.3s cubic-bezier(0.16, 1, 0.3, 1);
  transform: scale(1.2);
}
footer .flex-container .socials a:hover svg path {
  fill: #929aef;
}
footer svg path {
  fill: #f5f5f5;
}
@media (min-width: 1025px) {
  footer {
    display: block;
    padding: 30px 0;
  }
  footer .next {
    position: absolute;
    margin: 0;
    bottom: 15px;
    font-size: 3.5rem;
  }
}
@media (min-width: 1025px) and (min-width: 1190px) {
  footer .next {
    font-size: 6.5rem;
  }
}
@media (min-width: 1025px) {
  footer .flex-container {
    flex-direction: row;
  }
  footer .flex-container .logo,
footer .flex-container .text,
footer .flex-container .socials {
    margin-bottom: 0;
    margin-top: 0;
  }
  footer .flex-container .logo {
    margin-right: 50px;
    margin-left: 20px;
  }
  footer .flex-container .text {
    text-align: left;
    margin-right: 40px;
  }
}

.graytainer {
  background: #929aef;
  height: 300px;
  width: 100%;
}

.home-body .nav .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding-top: 20px;
}
@media (min-width: 481px) {
  .home-body .nav .navbar {
    padding-top: 40px;
  }
}
.home-body .nav .logo {
  width: 3rem;
}
.home-body .nav #menu-icon {
  font-size: 2rem;
}
.home-body .nav #menu-icon:hover {
  cursor: pointer;
}
@media (min-width: 769px) {
  .home-body .nav {
    display: none;
  }
}
.home-body main {
  margin-top: 100px;
}
.home-body main a {
  text-align: center;
  display: block;
  transition: all 0.3s cubic-bezier(0.16, 1, 0.3, 1);
  line-height: 2;
}
.home-body main a:not(:first-child) {
  color: transparent;
  -webkit-text-stroke: 1px black;
}
.home-body main a:hover {
  transform: scale(1.1);
  transform-origin: 0 50%;
  color: #141414;
}
.home-body main a {
  border-bottom: 0.5px solid black;
}
@media (min-width: 769px) {
  .home-body main {
    margin-top: 150px;
  }
  .home-body main a {
    text-align: left;
    line-height: 1;
    border: none;
  }
}
@media (min-width: 1025px) {
  .home-body main a {
    text-align: left;
    line-height: 0.9;
  }
}
.home-body .home-footer {
  display: none;
}
@media (min-width: 769px) {
  .home-body .home-footer {
    display: block;
  }
}
.home-body .home-footer .flex-container {
  position: absolute;
  bottom: 50px;
  display: flex;
  align-items: center;
}
.home-body .home-footer .flex-container .logo {
  transform: scale(1.5);
  margin-right: 50px;
  margin-left: 20px;
}
.home-body .home-footer .flex-container .logo:hover svg {
  transition: all 0.3s cubic-bezier(0.16, 1, 0.3, 1);
  transform: scale(1.2);
}
.home-body .home-footer .flex-container .logo:hover svg path {
  fill: none;
  stroke: black;
  stroke-width: 0.5px;
}
.home-body .home-footer .flex-container .text {
  margin-right: 20px;
  height: 45px;
}
.home-body .home-footer .flex-container strong {
  display: block;
}
.home-body .home-footer .flex-container span {
  font-weight: 200;
  font-size: 14px;
}
.home-body .home-footer .flex-container .socials {
  fill: blue;
}
.home-body .home-footer .flex-container .socials svg {
  margin-left: 15px;
  width: 25px;
  height: 25px;
}
.home-body .home-footer .flex-container .socials a:hover svg {
  transition: all 0.3s cubic-bezier(0.16, 1, 0.3, 1);
  transform: scale(1.2);
}
.home-body .home-footer .flex-container .socials a:hover svg path {
  fill: #929aef;
}

.work-body .img {
  transition: all 0.3s cubic-bezier(0.16, 1, 0.3, 1);
  transition-duration: 0.9s;
}
.work-body .img:hover {
  transform: scale(0.95);
  cursor: pointer;
}
.work-body .img a {
  box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
}
.work-body .project1 {
  margin-bottom: 200px;
  background: #141414;
}
.work-body .project1 .container {
  position: relative;
  height: 800px;
}
.work-body .project1 .text-btn-group {
  color: white;
}
.work-body .project1 .text-btn-group .btn-hollow {
  color: white;
  border-color: white;
}
.work-body .project1 .text-btn-group .btn-hollow:hover {
  background: white;
  color: #141414;
}
.work-body .project1 .text-btn-group {
  position: absolute;
  right: 0;
  left: 0;
  bottom: 100px;
  text-align: center;
}
.work-body .project1 .text-btn-group p {
  display: none;
}
@media (min-width: 481px) {
  .work-body .project1 .text-btn-group {
    max-width: 400px;
    text-align: left;
    right: 0;
  }
  .work-body .project1 .text-btn-group p {
    display: block;
  }
}
.work-body .project2 {
  margin-bottom: 200px;
}
.work-body .project2 .project-info {
  margin-bottom: 100px;
}
.work-body .project2 .text-btn-group {
  margin-bottom: 4rem;
  max-width: 400px;
}
.work-body .project2 .text-btn-group .h2-akira {
  font-size: 2rem;
}
@media (min-width: 400px) {
  .work-body .project2 .text-btn-group .h2-akira {
    font-size: 2.5rem;
  }
}
.work-body .project2 ul {
  padding-left: 1rem;
  font-weight: 300;
}
.work-body .project2 ul li {
  list-style: disc;
}
.work-body .project2 ul li:not(:last-child) {
  margin-bottom: 20px;
}
.work-body .project2 .img {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}
.work-body .project2 .img a {
  background: #c4c4c4;
  aspect-ratio: 1/1.3;
  background: url(../../img/work/audiophile-ss.png);
  background-size: cover;
}
@media (min-width: 769px) {
  .work-body .project2 .project-info {
    display: flex;
  }
  .work-body .project2 .project-info ul {
    margin-left: 50px;
  }
}
@media (min-width: 1025px) {
  .work-body .project2 .content {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
  }
  .work-body .project2 .project-info {
    margin-top: 100px;
    display: block;
  }
  .work-body .project2 .project-info ul {
    margin-left: 0;
  }
  .work-body .project2 .img {
    width: 60%;
  }
}
@media (min-width: 1025px) and (max-width: 1370px) {
  .work-body .project2 .project-info {
    margin-top: 50px;
    padding-left: 50px;
  }
}
.work-body .project3 {
  margin-bottom: 200px;
}
.work-body .project3 .text-btn-group {
  text-align: left;
  margin-bottom: 4rem;
  max-width: 600px;
}
.work-body .project3 .img {
  height: 350px;
  width: 100%;
  background: #c4c4c4;
}
@media (min-width: 1025px) {
  .work-body .project3 .img {
    height: 250px;
  }
}
.work-body .project4 {
  margin-bottom: 200px;
}
.work-body .project4 .text-btn-group {
  text-align: left;
  margin-bottom: 4rem;
  max-width: 600px;
  margin-inline: auto;
}
.work-body .project4 .img {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}
.work-body .project4 .img a {
  background: #c4c4c4;
  aspect-ratio: 1/0.6;
  background: url(../../img/work/bookmark-ss.png);
  background-size: cover;
}
@media (min-width: 1025px) {
  .work-body .project4 .text-btn-group {
    margin-inline: 0;
  }
  .work-body .project4 .img {
    max-width: 80%;
    margin-left: auto;
    margin-top: -40px;
  }
}

.about-body .banner {
  width: 100%;
  height: 567px;
  background: url(../../img/about/banner.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 150px;
}
.about-body .selfie {
  height: 306px;
  background: #c4c4c4;
  margin-bottom: 130px;
}
.about-body section {
  margin-bottom: 150px;
}
.about-body section .text-group {
  margin-inline: auto;
  max-width: 705px;
}
.about-body .skills {
  margin-inline: auto;
  padding: 0 30px;
}
.about-body .skills .skill-group:first-child {
  margin-bottom: 80px;
}
.about-body .skills strong {
  display: block;
  font-size: 1.2rem;
}
.about-body .skills .skill {
  margin-top: 20px;
  display: flex;
  align-items: center;
}
.about-body .skills .skill i {
  font-size: 24px;
  color: #929aef;
}
.about-body .skills .skill p {
  margin: 0 20px;
}
.about-body .skills .skill-group:first-child strong {
  text-align: right;
}
.about-body .skills .skill-group:first-child .skill {
  flex-direction: row-reverse;
}
@media (min-width: 481px) {
  .about-body .skills {
    display: flex;
    justify-content: space-between;
    width: 450px;
  }
  .about-body .skills .skill {
    margin-top: 40px;
  }
  .about-body .skills .skill i {
    font-size: 40px;
  }
}
@media (min-width: 769px) {
  .about-body .skills .skill {
    transition: all 0.3s cubic-bezier(0.16, 1, 0.3, 1);
  }
  .about-body .skills .skill:hover {
    cursor: default;
    transform: scale(1.1);
  }
}
@media (min-width: 1025px) {
  .about-body .skills {
    width: 520px;
  }
  .about-body .skills .skill {
    margin-top: 50px;
  }
  .about-body .skills p {
    font-size: 20px;
  }
  .about-body .skills i {
    font-size: 50px;
  }
}

.contact-body main {
  padding-top: 20vh;
  text-align: center;
  max-width: 750px;
  margin-bottom: 200px;
}
.contact-body main .socials {
  margin-top: 3.3rem;
}
.contact-body main .socials a,
.contact-body main .socials a svg {
  transform: scale(1.3);
}
.contact-body main .socials a:not(:last-child) {
  margin-right: 20px;
}
@media (min-width: 481px) {
  .contact-body main .socials a,
.contact-body main .socials a svg {
    transform: scale(1.5);
  }
  .contact-body main .socials a:not(:last-child) {
    margin-right: 40px;
  }
  .contact-body main .socials a:hover svg {
    transform: scale(1.7);
    transition: all 0.3s cubic-bezier(0.16, 1, 0.3, 1);
  }
  .contact-body main .socials a:hover svg path {
    fill: #929aef;
  }
}
.contact-body main .email {
  display: inline-block;
  margin-top: 60px;
  padding: 15px 0;
  width: 100%;
  max-width: 380px;
  background: #ebebeb;
  color: #a0a0a0;
  margin-bottom: 80px;
  border-radius: 5px;
}
.contact-body main .email:hover {
  cursor: pointer;
  background: #e3e5fb;
}
.contact-body main form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contact-body main form input,
.contact-body main form textarea {
  width: 100%;
  border: none;
  border-radius: 5px;
  background: #ebebeb;
  height: 60px;
  margin-bottom: 20px;
  padding: 20px;
  color: #141414;
  font-weight: 300;
}
.contact-body main form input:placeholder-shown,
.contact-body main form textarea:placeholder-shown {
  color: #969696;
  font-weight: 300;
}
.contact-body main form textarea {
  height: 230px;
}
.contact-body main form button {
  border: none;
  border-radius: 5px;
  background: #929aef;
  color: white;
  font-weight: 600;
  font-size: 18px;
  padding: 15px 0;
  width: 100%;
  max-width: 400px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #f5f5f5;
}

/*# sourceMappingURL=main.css.map */
