// text groups

.text-group {
  text-align: center;
  h1,
  h2,
  h3,
  h4 {
    margin-bottom: 1.5rem;
  }
}

.text-btn-group {
  h1,
  h2,
  h3,
  h4 {
    margin-bottom: 1.5rem;
  }
  p {
    margin-bottom: 3rem;
  }
}

// =====================================================================
// if spacing is changed : make sure all groups maintain uniform spacing !
// =====================================================================
