// WORKSPACE FONT ( uncomment and commet next FF )

// @font-face {
//   font-family: "akira";
//   src: url("../../fonts/akira_expanded_demo-webfont.woff") format("woff");
//   font-weight: normal;
//   font-style: normal;
// }

@font-face {
  font-family: "akira";
  src: url("/fonts/akira_expanded_demo-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
// font-family: 'akira', sans-serif;

@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;500;600;700&display=swap");
// ================================= font-styles =================================

html {
  font-size: 16px;
  font-family: "Raleway", sans-serif;
}

li,
a {
  list-style: none;
  text-decoration: none;
  color: black;
}

// attribute style

.h1-akira {
  font-family: "akira";
  font-size: 2rem;
  line-height: 0.8;
  font-size: clamp(2rem, 6.5vw + 1rem, 7.5rem);
  // @media (min-width: $mobile) {
  //   font-size: 2.5rem;
  // }
  // @media (min-width: $tablet) {
  //   font-size: 3.5rem;
  // }
  // @media (min-width: 580px) {
  //   font-size: 4rem;
  // }
  // @media (min-width: $laptop) {
  //   font-size: 5.3rem;
  // }
  // @media (min-width: $desktop) {
  //   font-size: 7.5rem;
  // }
}

.h2-akira {
  font-family: "akira";
  font-size: 2.5rem;
}

h1 {
  font-size: 3rem;
  font-weight: 800;
}

h2 {
  font-size: 2rem;
  font-weight: 800;
}

h3 {
  font-size: 1.5rem;
  font-weight: 800;
}

p {
  color: $p;
  font-size: 1.1rem;
  line-height: 1.7;
  font-weight: 300;
}

// class styles
