// other uniform properties
$trans1: all 0.3s cubic-bezier(0.16, 1, 0.3, 1);

// breakpoints
$mobile: 320px;
$tablet: 481px;
$laptop: 769px;
$desktop: 1025px;
$large: 1200px;

// mixins

@mixin margin-center {
  margin-right: auto;
  margin-left: auto;
}

// flex mixins : flex | justify | align | direction
@mixin flex-between-center-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
