.footer-wrap {
  background: $black;
}
footer {
  position: relative;
  display: flex; //
  flex-direction: column; //
  align-items: center; //
  padding-bottom: 100px; //
  padding-top: 80px;
  //   next button + color
  .next {
    color: $bg;
    font-size: 2rem;
    // position: absolute; //
    // bottom: -35px; //
    right: 0;
    transition: $trans1;
    margin-bottom: 70px;

    &:hover {
      transform: scale(1.05);
      transform-origin: 50% 100%;
      color: $primary;
    }
    @media (min-width: $tablet) {
      font-size: 3rem;
    }
    @media (min-width: $laptop) {
      font-size: 4rem;
    }
  }
  //   content
  .flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    .logo {
      transform: scale(1.5);
      margin-bottom: 70px;

      path {
        fill: none;
        stroke: $gray;
        stroke-width: 0.5px;
      }

      &:hover svg {
        transition: $trans1;
        transform: scale(1.2);
        path {
          fill: $bg;

          stroke-width: 0px;
        }
      }
    }

    // name / proffesion
    .text {
      margin-bottom: 70px;
      text-align: center;
      height: 45px;
    }
    strong {
      display: block;
    }
    span {
      font-weight: 200;
      font-size: 14px;
    }
    //   socials
    .socials {
      a:not(:last-child) svg {
        margin-right: 15px;
      }
      svg {
        width: 25px;
        height: 25px;
        path {
          fill: $bg;
        }
      }

      a:hover svg {
        transition: $trans1;
        transform: scale(1.2);
      }
      a:hover svg path {
        fill: $primary;
      }
    }
  }
  //   left : colors
  color: $bg;
  svg path {
    fill: $bg;
  }

  @media (min-width: $desktop) {
    display: block;
    padding: 30px 0;
    .next {
      position: absolute;
      margin: 0;
      bottom: 15px;
      font-size: 3.5rem;
      @media (min-width: 1190px) {
        font-size: 6.5rem;
      }
    }

    .flex-container {
      flex-direction: row;
      .logo,
      .text,
      .socials {
        margin-bottom: 0;
        margin-top: 0;
      }
      .logo {
        margin-right: 50px;
        margin-left: 20px;
      }
      .text {
        text-align: left;
        margin-right: 40px;
      }
    }
  }
}
.graytainer {
  background: $primary;
  height: 300px;
  width: 100%;
}
